@import '../../variables.scss';

.button {
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  color: $secondary-color;
  padding: 10px;
  height: 35px;
  width: 100%;
  border: 1px solid $primary-color;
  border-radius: 10px;
  box-sizing: border-box;
  &:hover {
    background-color: $primary-color;
  }
}
