.list {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 800px;
  width: 100%;
  background-color: #bbb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.item-text {
  padding: 0 10px;
  max-width: 90%;
  overflow: hidden;
}

.item-close {
  padding: 0 10px;
  cursor: pointer;
}
