@import '../../variables.scss';

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  .form-title {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: $primary-color;
  }
  .form-item {
    margin: 2px 0;
  }
}
