.button {
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  color: #666;
  padding: 10px;
  height: 35px;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-sizing: border-box;
}

.button:hover {
  background-color: #bbb;
}
